# -----------------------------------------
# R and PYTHON PACKAGES FOR SINGLE CELL RNA ANALYSIS 
# -----------------------------------------
# Install in R using : install.packages("<package>") or Biocmanager::install("<package>")
#------------------------------------------
#R Packages for QC and umap
Seurat
SeuratDisk
dplyr
R.utils  
ggplot2
ggExtra
RColorBrewer
openxlsx
dplyr
scales
HGNChelper
dittoSeq
harmony
batchelor
zellkonverter
SingleCellExperiment

# R packages for DEG and pathway analysis
clusterProfiler
ReactomePA
tidyverse
org.Hs.eg.db
dplyr
ggplot2
enrichplot

#---------------------------------------------
#Python packages 
#---------------------------------------------
pandas
anndata
numpy
scanpy
seaborn
matplotlib
celltypist

#---------------------------------------------
#MODEL
#-------------------------------------------
Adult_human_kidney.pkl


